@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes heartbeat {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.5);
	}
	50% {
		transform: scale(2);
	}
	75% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

.blob {
	background-color: white;
	height: 34vmax;
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 50%;
	background: radial-gradient(
		circle,
		rgba(71, 127, 247, 0.376) 0%,
		rgba(37, 38, 44, 0) 70%
	);
	animation: 10s linear 1s infinite heartbeat;
	pointer-events: none;
}
